.blog-container {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    margin-top: 8em;
    margin-bottom: 8em;
    gap: 1rem;
    min-width: 0;
  }
  
  .blog-container h2 {
    margin-top: 1.5rem;
    color: #333;
  }
  
  .blog-container input,
  .blog-container textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .blog-container textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .blog-container button {
    padding: 0.5rem 1rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .blog-container button:hover {
    background-color: #4338ca;
  }
  
  .post-card {
    background: white;
    margin-top: 1rem;
    padding: 1.25rem;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    transition: box-shadow 0.3s;
  }
  
  .post-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .post-card h3 {
    margin-bottom: 0.5rem;
    color: #111827;
  }
  
  .post-card p {
    color: #000000;
    line-height: 1.6;
  }
  
  .post-card button {
    margin-top: 0.75rem;
    background-color: #ef4444;
  }
  
  .post-card button:hover {
    background-color: #dc2626;
  }

  .empty-state {
    color: #707070;
  }
  
  .posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .posts-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .post-card h3 {
    font-size: 1.25rem;
    color: #1f2937;
    margin-bottom: 0.5rem;
  }
  
  .post-card p {
    font-size: 0.95rem;
    color: #374151;
  }

  
  .blog-detail h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #1f2937;
  }
  
  .blog-date {
    font-size: 0.875rem;
    color: #6b7280;
  }
  
  .blog-content {
    font-size: 1.05rem;
    line-height: 1.3;
    color: #374151;
    white-space: pre-line;
    overflow-x: auto;
  }

  .blog-content h2 {
    font-size: 1.5rem;
    margin-top: unset !important;
    margin-bottom: unset !important;
  }
  
  .blog-meta {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
    align-items: center;
  }

  .blog-meta div {
    display: flex;
    gap: 0.5rem;
    color: #464646;
    align-items: center;
  }

  .blog-meta div img {
    margin-bottom: unset !important;
  }
