
.quotes-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2em;
    z-index: 1000;
}

.quotes-container label {
    position: relative;
    height: 100%;
    display: flex;
    border-radius: 50%;
    padding: 0em;
    background-color: #48c6ef;
    border: 0.325em solid #48c6ef;
    opacity: .85;
    transition: all .5s ease;
}

.quotes-container label:hover {
    border: 0.325em solid #48c6ef;
    background-color: transparent;
    transition: all .5s ease;
}

.quotes-container label svg {
    padding: .5em;
    width: 3.5em;
    height: 3.5em;
    fill: #fff;
    transition: all 0.5s;
}

.quotes-container label svg:hover {
    fill: #48c6ef;
    transition: all 0.5s;
}

.quotes-container article {
    position: absolute;
    display: none;
    top: -8em;
    right: 0;
}

.quotes-container article:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 65%;
	width: 0;
	height: 0;
	border: 1.031em solid transparent;
	border-top-color: #48c6ef;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.516em;
	margin-bottom: -1.031em;
}

.quotes-container label svg:hover + article {
    background-color: #00000087;
    border-radius: 1em;
    display: flex;
    height: 7em;
    max-height: 7em;
    width: 12em;
    align-items: center;
    border: 0.325em solid #48c6ef;
}

.quotes-box {
    padding: 2em;
}