/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;300;400;500;600;700;900&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 900;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 1824;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Roboto", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  scrollbar-color: #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {

  width: 5px;
  height: 13px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #464646;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  color: #fff;
  background-image: linear-gradient(to right, #2f2f2f 0%, black 100%);

  /* background-color: #21222C; */
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1280px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-semi);
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__logo span {
  margin-left: 10px;
}

.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.home {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -80px;
}

.home_title {
  margin-bottom: 1.25rem;
  text-align: center;
}

.home_title h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #Fff;
  margin-top: 10px;
}

.home_title h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.home_title h3 {
  color: rgb(189, 189, 189);
  font-weight: 400;
}


.home_actions {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}

.home_actions-about {
  border-radius: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  border: 2px solid #fff;
  transition: 150ms ease-in-out;
}

.home_actions-cv {
  border-radius: 1.5rem;
  background-color: #fff;
  color: #13547a;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  border: 2px solid #fff;
  transition: 150ms ease-in-out;
}



.home_actions a:hover {
  color: #13547a;
  background-color: transparent;
  border: #13547a 2px solid;
  transition: 150ms ease-in-out;
}

.home_animation {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 70px;
  background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}

.animate-bounce {
  animation: bounce 1s infinite;
}


/* .bg {
  background-color:#0E1525;
} */

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  text-align: left;
}

.about_title {
  width: 50%;
  padding: 2rem;
  color: #fff;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  border-radius: 7px;
  font: 1.5rem;
}

.about_data {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.about_data img {
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.7));
}

.about_data_title {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding: 3rem;
  border-radius: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about_data_title h2 {
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity));
  font-size: 1.5rem;
  font-weight: 700;
}

.about_data_title p {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  margin-top: 1.5rem;
}

.lenguagues {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 100px;
  text-align: center;
}

.lenguagues_title {
  width: 100%;
  position: relative;
}

.lenguagues_title h2 {
  font-size: 2rem;
  font-weight: 700;
}

.lenguagues_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 50px;
}

.lenguagues_images {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid #fff;
}

.lenguagues_images:hover {
  background-color: rgb(31 41 55);
}

.lenguagues_footer {
  margin: auto;
  text-align: center;
  background-color: rgb(31 41 55);
  padding: 1rem;
  border-radius: 7px;
  margin-top: 50px;
  width: 50%;
}

.lenguagues_footer p {
  font-size: 1.125rem;
  font-style: italic;
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.projects_title {
  width: 50%;
  padding: 2rem;
  color: #fff;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  border-radius: 7px;
  font: 1.5rem;
}

.projects_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.projects_data {
  position: relative;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  border-radius: var(--rounded-box, 1rem);
  background-color: #121212;
  height: 100%;
  max-width: 350px;
}

.projects_data-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
}

.projects_data-images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projects_data-info {
  align-items: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.projects_data-info button {
  margin-top: 20px;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #13547a;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  border: 2px solid #fff;
  transition: 150ms ease-in-out;
  cursor: pointer;

}

.projects_data-info button:hover {
  color: #fff;
  background-color: transparent;
  border: #13547a 2px solid;
  transition: 150ms ease-in-out;
}

.projects_data-title {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

}

.projects_data-leng {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.projects_data-desc {
  color: #909090;
  position: relative;
  margin-top: 20px;
}

.projects_data-responsive{
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 7px;
  border: 1px solid 	#ADFF2F;
  color: #ADFF2F;
}


.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  height: 150px;
  color: rgb(189, 189, 189);
}

.footer-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  color: #48c6ef;
  font-weight: bold;
}

.footer-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #48c6ef;
}

.footer-link {
  color: rgb(189, 189, 189);
}

.footer-link:hover {
  color: #fff;
}

.footer-data-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-data-link i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.contact {
  position: relative;
}

.contact-data_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;

}

.contact-data-images {
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.contact-data-images img {
  width: 200px;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }

  .home {
    margin-top: 100px;
    width: 100%;
    height: 100%;
  }

  .home_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
  }

  .home_animation {
    width: 150px;
  }

  .about_data {
    display: flex;
    flex-direction: column;
  }

  .about_title{
    font-size: 0.8rem;
    width: 100%;
  }

  .about_data img {
    width: 200px;
  }


  .about_data_title {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    padding: 3rem;
    border-radius: 20px;
    width: 250px;
  }



  .projects_data{
    max-width: 250px;
  }

  .projects_title {
    width: 100%;
    font-size: 0.8rem;
  }

  .projects_list {
    width: 100%;
    height: 100%;
  }

  .projects_data-images {
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .footer-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
  }

  .contact{
    width: 100%;
    height: 100%;
  }

  .contact-data_list{
    width: 100%;
  }

}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: #a0a0a0;
  }

  .home {
    padding: 8rem 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    padding: 10rem 0 2rem;
  }
}