/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --white-text: #fff;
  --background: #c8e8f1;
  --black-text: rgb(68, 66, 66) --prueba: (180deg, #21c8f6, #637bff);
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: #eee;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1280px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: var(--font-semi);
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  padding-top: 0;
}

.nav__item {
  margin-bottom: var(--mb-4);
  margin-left: 0.4rem;
  margin-bottom: 0;
}

.nav__link {
  position: relative;
  color: black;
  font-size: 0.8rem;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
  font-size: 1rem;
}

.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.avatar {
  width: 150px;
  height: 150px;
  transition: 150ms ease-in-out;
  border-radius: 50%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.avatar:hover {
  border: 4px solid #13547a;
  transition: 150ms ease-in-out;

}

.home_title {
  text-align: center;
}

.home_title h1 {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.home_title h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.home_title h3 {
  color: black;
  font-weight: 400;
}

.home_actions {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  margin-top: 10px;
}

.home_actions-about {
  border-radius: 1.5rem;
  background-color: #13547a;
  color: #e1e1e1;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  transition: 150ms ease-in-out;
}

.home_actions-cv {
  border-radius: 1.5rem;
  background-color: #fff;
  color: #13547a;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  transition: 150ms ease-in-out;
}



.home_actions a:hover {
  color: #13547a;
  background-color: transparent;
  border: #13547a 2px solid;
  transition: 150ms ease-in-out;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  text-align: left;
}

/* 

.about_data {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
} */

.about-title {
  margin-bottom: 50px;
  background-color: #fff;
  border: 4px solid #e1e1e1;
  padding: 1rem;
  border-radius: 20px;
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity));
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.about_data_title {
  background-color: #fff;
  border: 4px solid #e1e1e1;
  padding: 3rem;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about_data_title h2 {
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity));
  font-size: 1.5rem;
  font-weight: 700;
}

.about_data_title p {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  margin-top: 1.5rem;
}

.lenguagues {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.lenguagues_title {
  width: 100%;
  position: relative;
}

.lenguagues_title h2 {
  font-size: 2rem;
  font-weight: 700;
}

.lenguagues_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 50px;
}

.lenguagues_images {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.75rem;
  transition: 150ms ease-in-out;
  background-color: #13547a;
  border: 4px solid #13547a;
}


.lenguagues_footer {
  margin: auto;
  text-align: center;
  background-color: #fff;
  border: 4px solid #e1e1e1;
  padding: 1rem;
  border-radius: 7px;
  margin-top: 50px;
  width: 100%;
}

.lenguagues_footer p {
  font-size: 1.125rem;
  font-style: italic;
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.main-title {
  width: 100%;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(56 189 248 / var(--tw-text-opacity));
  margin: auto;
  text-align: center;
  background-color: #fff;
  border: 4px solid #e1e1e1;
  border-radius: 20px;
  font-size: 1rem;
}

.projects_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.projects_data {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--rounded-box, 1rem);
  background-color: #fff;
  height: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}

.projects_data-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
}

.projects_data-images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projects_data-info {
  align-items: center;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.projects_data-info button {
  margin-top: 20px;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #13547a;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  border: 4px solid #13547a;
  transition: 150ms ease-in-out;
  cursor: pointer;

}

.projects_data-info button:hover {
  color: #fff;
  background-color: #13547a;
  border: #13547a 4px solid;
  transition: 150ms ease-in-out;
}

.projects_data-title {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

}

.projects_data-leng {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.projects_data-desc {
  color: #909090;
  position: relative;
}

.projects_data-responsive {
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 7px;
  border: 1px solid #ADFF2F;
  background-color: #ADFF2F;
  color: #13547a;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  height: 150px;
  color: black;
  width: 100%;
}


.footer-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #48c6ef;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  color: black;
}

.footer-data-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-data-link i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.contact {
  position: relative;
}

.contact-data_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 100px;

}

.contact-data-images {
  padding: 1rem;
  border-radius: 0.75rem;
  /* border: 4px solid #e1e1e1; */
  background-color: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: 150ms ease-in-out;
  cursor: pointer;
}

.contact-data-images:hover {
  background-color: #13547a;
  transition: 150ms ease-in-out;

}

.contact-data-images img {
  width: 150px;
}

.links {
  color: #13547a;
}

.education-title{
  position: relative;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.education-data{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
}

.education-card{
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  background-color: #fff;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 2px solid #d3d3d3;
  margin-bottom: 5px;
}

.ed-card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-top: 15px;
}

.ed-card-data{
  position: relative;
  width: 100%;
  margin-left: 10px;
}

.ed-card-data-extra{
  font-size: 0.8rem;
  color: #727272;
  font-weight: 100;
}

.ed-card-data a{
  border-radius: 1.5rem;
  background-color: transparent;
  color: #000;
  padding: 0.5rem;
  padding-top: 5px;
  font-size: 0.8rem;
  border: 2px solid #13547a;
  cursor: pointer;
  transition: all 0.5s ease;
}

.ed-card-data a:hover{
  transition: all 0.5s ease;
  background-color: #13547a;
  color: #e1e1e1;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {


  .home {
    margin-top: 100px;
    width: 100%;
    height: 100%;
  }

  .home_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
  }


  .projects_data {
    max-width: 250px;
  }

  .projects_title {
    font-size: 0.8rem;
  }

  .projects_list {
    width: 100%;
    height: 100%;
  }

  .projects_data-images {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
  }

  
  .footer-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 150px;
  }

  .contact {
    width: 100%;
    height: 100%;
  }

  .contact-data_list {
    width: 100%;
  }

}



@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }


  .home {
    padding: 8rem 0 2rem;
  }

}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    padding: 10rem 0 2rem;
  }

}